# Copy this to .env and fill in your values
DB_HOST=XXXXXXXX
DB_PORT=5432
DB_NAME=XXXXXXXX
DB_USER=XXXXXXXX
DB_PASSWORD=XXXX
JWT_SECRET=XXXXXXXX
JWT_EXPIRES_IN=8h
PORT=3002
CLIENT_ORIGIN=http://localhost:5174
